#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    /* padding-top: 3rem; */
    padding-bottom: 1.5rem;
    /* text-align: center; */
}

.skillDesc {
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.skill_upper_part{
    display: flex;
    margin-bottom: 3rem;
}

.htmlImg {
    margin-right: 2rem;
    border-radius: 1rem;
}

.javascriptImg {
    margin-right: 2rem;
    border-radius: 1rem;
}

.gitImg {
    margin-right: 2rem;
    border-radius: 1rem;
}

.dockerImg {
    /* margin-right: 2rem; */
    border-radius: 1rem;
}

.skill_lower_part{
    display: flex;
}

.mongodbImg{
    margin-right: 2rem;
    border-radius: 1rem;
}

.styleImg {
    margin-right: 2rem;
    border-radius: 1rem;
}

.reactImg {
    border-radius: 1rem;
}

@media screen and (max-width:420px){
    .skillDesc {
        font-size: 1rem;
    }
    .skillTitle {
        font-size: 2.5rem;
    }
    .skill_upper_part {
        height: 5rem;
        width: 20rem;
    }
    .htmlImg {
        margin-right: 0.1rem;
        border-radius: 0.5rem;
    }
    
    .javascriptImg {
        margin-right: 0.1rem;
        border-radius: 0.5rem;
    }
    
    .gitImg {
        margin-right: 0.1rem;
        border-radius: 0.5rem;
    }
    
    .dockerImg {
        border-radius: 0.5rem;
    }

    .skill_lower_part{
        height: 5rem;
        width: 15rem;
    }

    .mongodbImg{
        margin-right: 0.1rem;
        border-radius: 0.5rem;
    }
    
    .styleImg {
        margin-right: 0.1rem;
        border-radius: 0.5rem;
    }
    
    .reactImg {
        border-radius: 0.5rem;
    }
}
  
